@{
    ViewBag.Title = "Home";
    ViewBag.pTitle = "Home";
    ViewBag.pageTitle = "Dashboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <!--Swiper slider css-->
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- jsvectormap css -->
    <link href="~/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />
}

<div class="row dash-nft">
    <div class="col-xxl-9">
        <div class="row">
            <div class="col-xl-6">
                <div class="card overflow-hidden">
                    <div class="card-body bg-marketplace d-flex">
                        <div class="flex-grow-1">
                            <h4 class="fs-18 lh-base mb-0">Anothers options avaible <br> for <span
                                    class="text-success">you.</span> </h4>
                            <p class="mb-0 mt-2 pt-1 text-muted">What do you want to do today?</p>
                            <div class="d-flex gap-3 mt-4">
                                <a href="@Url.Action("AppointmentList","Appointment")" class="btn btn-primary"> <i
                                        class="ri-file-search-line"></i> VIEW ALL APPOINTMENTS </a>
                                <a href="@Url.Action("NewConsultation","Consultation")" class="btn btn-secondary"> <i
                                        class="ri-newspaper-line"></i> GENERATE A NEW MEDIC CONSULTATION</a>
                            </div>
                        </div>

                        <img src="~/assets/images/ExpermedBotGif.gif" alt="Imagen" style="height: 80px;"
                            class="img-fluid" id="toast-trigger" role="button">
                        <!-- Toast (oculto inicialmente) -->
                        <div class="toast position-absolute top-0 end-0 m-4" role="alert" aria-live="assertive"
                            aria-atomic="true" id="myToast">
                            <div class="toast-header">
                                <img src="~/assets/images/icon.png" class="rounded me-2" alt="..." height="20">
                                <strong class="me-auto">ExpertBot</strong>
                                <small>Right Now</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                Soon you will have me as your intelligent assistant!
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-xl-3 col-md-6">
                <div class="card card-height-100">
                    <div class="card-body">
                        <div class="float-end">
                            <div class="dropdown card-header-dropdown">
                                <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <span class="text-muted fs-18"><i
                                            class="mdi mdi-dots-vertical align-middle"></i></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Last Week</a>
                                    <a class="dropdown-item" href="#">Last Month</a>
                                    <a class="dropdown-item" href="#">Current Year</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle rounded fs-3">
                                    <i class="bx bx-calendar text-primary"></i>
                                </span>
                            </div>
                            <div class="flex-grow-1 ps-3">
                                <h5 class="text-muted text-uppercase fs-13 mb-0">Appointments for today</h5>
                            </div>
                        </div>
                        <div class="mt-4 pt-1">
                            <h4 class="fs-22 fw-semibold ff-secondary mb-0">$<span class="counter-value"
                                    data-target="559526.564"></span> </h4>
                            <p class="mt-4 mb-0 text-muted"><span class="badge bg-danger-subtle text-danger mb-0 me-1">
                                    <i class="ri-arrow-down-line align-middle"></i> 3.96 % </span> vs. previous month
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <!--end row-->




        </div>
        @section scripts {
            <!-- apexcharts -->
            <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

            <!--Swiper slider js-->
            <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

            <!-- Vector map-->
            <script src="~/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
            <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

            <!-- Countdown js -->
            <script src="~/assets/js/pages/coming-soon.init.js"></script>

            <!-- Marketplace init -->
            <script src="~/assets/js/pages/dashboard-nft.init.js"></script>

            <!-- App js -->
            <script src="~/assets/js/app.js"></script>

            <script>
                document.getElementById('toast-trigger').addEventListener('click', function () {
                    var toastEl = document.getElementById('myToast');
                    var toast = new bootstrap.Toast(toastEl);
                    toast.show();  // Mostrar el toast
                });
            </script>
        }